<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wthink.car_producer2.dao.TbCarTypeMapper" >
  <resultMap id="BaseResultMap" type="com.wthink.car_producer2.pojo.TbCarType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_type_name" property="carTypeName" jdbcType="VARCHAR" />
    <result column="car_pid" property="carPid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, car_type_name, car_pid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wthink.car_producer2.pojo.TbCarTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_car_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_car_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wthink.car_producer2.pojo.TbCarTypeExample" >
    delete from tb_car_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wthink.car_producer2.pojo.TbCarType" >
    insert into tb_car_type (id, car_type_name, car_pid
      )
    values (#{id,jdbcType=INTEGER}, #{carTypeName,jdbcType=VARCHAR}, #{carPid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wthink.car_producer2.pojo.TbCarType" >
    insert into tb_car_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carTypeName != null" >
        car_type_name,
      </if>
      <if test="carPid != null" >
        car_pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carTypeName != null" >
        #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="carPid != null" >
        #{carPid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wthink.car_producer2.pojo.TbCarTypeExample" resultType="java.lang.Integer" >
    select count(*) from tb_car_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_car_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.carTypeName != null" >
        car_type_name = #{record.carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.carPid != null" >
        car_pid = #{record.carPid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_car_type
    set id = #{record.id,jdbcType=INTEGER},
      car_type_name = #{record.carTypeName,jdbcType=VARCHAR},
      car_pid = #{record.carPid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wthink.car_producer2.pojo.TbCarType" >
    update tb_car_type
    <set >
      <if test="carTypeName != null" >
        car_type_name = #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="carPid != null" >
        car_pid = #{carPid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wthink.car_producer2.pojo.TbCarType" >
    update tb_car_type
    set car_type_name = #{carTypeName,jdbcType=VARCHAR},
      car_pid = #{carPid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findCarType" resultMap="BaseResultMap" resultType="com.wthink.car_producer2.pojo.TbCarType">
    select *from tb_car_type where car_pid=#{carPid}
  </select>
  <select id="findTypes" resultMap="BaseResultMap" resultType="com.wthink.car_producer2.pojo.TbCarType">
    SELECT * FROM tb_car_type tct WHERE tct.id in(SELECT tct.id FROM tb_car_type tct WHERE tct.car_pid=#{carPid})
  </select>
</mapper>