<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>生成柱状图</title>

</head>

<body>

</body>
<div th:include="common.html"></div>

<script type="text/javascript">
    $(function () {
        //动态获取统计的人数，跟比例
        $.getJSON('/cartype/echartsShow',function (data) {
            var xAxis=['宝马','红旗'];    //类别数组（实际用来盛放X轴坐标值）
            var yAxis=[];    //人数数组（实际用来盛放Y坐标值）
            yAxis.push(data.bmwcar); //男生
            yAxis.push(data.hqcar); //女生
            yAxis.push(data.carSize); // 总人数、
            var explanation = ['数量'];
            echartsUtils("车辆类型比例图",explanation,xAxis,'数量',yAxis);
        })
    })
</script>



<!--图表的展示位置-->
<div id="main" style="width: 600px;height:400px;"></div>

</html>